-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: latsar
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `profile_photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `last_login_ip` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_login_device` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=496 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dms_documents`
--

DROP TABLE IF EXISTS `dms_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dms_documents` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `year` int NOT NULL,
  `type` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `doc_no` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `description` text COLLATE utf8mb4_general_ci,
  `tag` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` enum('Aktif','Arsip') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'Aktif',
  `uploader` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `updated_by` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_doc_no` (`doc_no`),
  KEY `idx_year` (`year`),
  KEY `idx_type` (`type`),
  KEY `idx_status` (`status`),
  KEY `idx_deleted_at` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dms_documents`
--

LOCK TABLES `dms_documents` WRITE;
/*!40000 ALTER TABLE `dms_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `dms_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dms_files`
--

DROP TABLE IF EXISTS `dms_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dms_files` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `document_id` int unsigned NOT NULL,
  `doc_no` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `doc_name` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `storage_driver` varchar(50) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'public',
  `file_size` int unsigned NOT NULL,
  `size_bytes` bigint unsigned DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `mime_type` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_document_id` (`document_id`),
  CONSTRAINT `fk_dms_files_document` FOREIGN KEY (`document_id`) REFERENCES `dms_documents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dms_files`
--

LOCK TABLES `dms_files` WRITE;
/*!40000 ALTER TABLE `dms_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `dms_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element1_jasa_konsultansi`
--

DROP TABLE IF EXISTS `element1_jasa_konsultansi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element1_jasa_konsultansi` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element1_jasa_konsultansi`
--

LOCK TABLES `element1_jasa_konsultansi` WRITE;
/*!40000 ALTER TABLE `element1_jasa_konsultansi` DISABLE KEYS */;
INSERT INTO `element1_jasa_konsultansi` VALUES (1,'Tujuan dan Ruang Lingkup','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Peran, tanggung jawab dan ekspektasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Proses Konsultansi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(4,'Kualitas Hasil Konsultansi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element1_jasa_konsultansi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element1_jasa_konsultansi_edit_logs`
--

DROP TABLE IF EXISTS `element1_jasa_konsultansi_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element1_jasa_konsultansi_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element1_jasa_konsultansi_edit_logs_row_id_index` (`row_id`),
  KEY `element1_jasa_konsultansi_edit_logs_username_index` (`username`),
  KEY `element1_jasa_konsultansi_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element1_jasa_konsultansi_edit_logs`
--

LOCK TABLES `element1_jasa_konsultansi_edit_logs` WRITE;
/*!40000 ALTER TABLE `element1_jasa_konsultansi_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element1_jasa_konsultansi_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element1_kegiatan_asurans`
--

DROP TABLE IF EXISTS `element1_kegiatan_asurans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element1_kegiatan_asurans` (
  `id` int NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_general_ci,
  `analisis_nilai` text COLLATE utf8mb4_general_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_general_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_general_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_general_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_general_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_general_ci,
  `evidence` text COLLATE utf8mb4_general_ci,
  `verified` tinyint(1) DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_general_ci,
  `level_validation_state` longtext COLLATE utf8mb4_general_ci,
  `verify_note` text COLLATE utf8mb4_general_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_general_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_general_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element1_kegiatan_asurans`
--

LOCK TABLES `element1_kegiatan_asurans` WRITE;
/*!40000 ALTER TABLE `element1_kegiatan_asurans` DISABLE KEYS */;
INSERT INTO `element1_kegiatan_asurans` VALUES (1,'Ruang Lingkup dan Fokus','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Analisis dan Atribut Temuan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Kualitas Opini/Simpulan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(4,'Kualitas Rekomendasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element1_kegiatan_asurans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element1_kegiatan_asurans_edit_logs`
--

DROP TABLE IF EXISTS `element1_kegiatan_asurans_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element1_kegiatan_asurans_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element1_kegiatan_asurans_edit_logs_row_id_index` (`row_id`),
  KEY `element1_kegiatan_asurans_edit_logs_username_index` (`username`),
  KEY `element1_kegiatan_asurans_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element1_kegiatan_asurans_edit_logs`
--

LOCK TABLES `element1_kegiatan_asurans_edit_logs` WRITE;
/*!40000 ALTER TABLE `element1_kegiatan_asurans_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element1_kegiatan_asurans_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_komunikasi_hasil`
--

DROP TABLE IF EXISTS `element2_komunikasi_hasil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_komunikasi_hasil` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_komunikasi_hasil`
--

LOCK TABLES `element2_komunikasi_hasil` WRITE;
/*!40000 ALTER TABLE `element2_komunikasi_hasil` DISABLE KEYS */;
INSERT INTO `element2_komunikasi_hasil` VALUES (1,'Kelengkapan Atribut Laporan dan Ketepatan Waktu Penyampaian','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element2_komunikasi_hasil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_komunikasi_hasil_edit_logs`
--

DROP TABLE IF EXISTS `element2_komunikasi_hasil_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_komunikasi_hasil_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element2_komunikasi_hasil_edit_logs_row_id_index` (`row_id`),
  KEY `element2_komunikasi_hasil_edit_logs_username_index` (`username`),
  KEY `element2_komunikasi_hasil_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_komunikasi_hasil_edit_logs`
--

LOCK TABLES `element2_komunikasi_hasil_edit_logs` WRITE;
/*!40000 ALTER TABLE `element2_komunikasi_hasil_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element2_komunikasi_hasil_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pelaksanaan_penugasan`
--

DROP TABLE IF EXISTS `element2_pelaksanaan_penugasan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pelaksanaan_penugasan` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pelaksanaan_penugasan`
--

LOCK TABLES `element2_pelaksanaan_penugasan` WRITE;
/*!40000 ALTER TABLE `element2_pelaksanaan_penugasan` DISABLE KEYS */;
INSERT INTO `element2_pelaksanaan_penugasan` VALUES (1,'Identifikasi dan Pengumpulan data/informasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Pelaksanaan Pedoman/Program Kerja','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Penyusunan Opini, Simpulan, dan Rekomendasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element2_pelaksanaan_penugasan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pelaksanaan_penugasan_edit_logs`
--

DROP TABLE IF EXISTS `element2_pelaksanaan_penugasan_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pelaksanaan_penugasan_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element2_pelaksanaan_penugasan_edit_logs_row_id_index` (`row_id`),
  KEY `element2_pelaksanaan_penugasan_edit_logs_username_index` (`username`),
  KEY `element2_pelaksanaan_penugasan_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pelaksanaan_penugasan_edit_logs`
--

LOCK TABLES `element2_pelaksanaan_penugasan_edit_logs` WRITE;
/*!40000 ALTER TABLE `element2_pelaksanaan_penugasan_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element2_pelaksanaan_penugasan_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pemantauan_tindak_lanjut`
--

DROP TABLE IF EXISTS `element2_pemantauan_tindak_lanjut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pemantauan_tindak_lanjut` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pemantauan_tindak_lanjut`
--

LOCK TABLES `element2_pemantauan_tindak_lanjut` WRITE;
/*!40000 ALTER TABLE `element2_pemantauan_tindak_lanjut` DISABLE KEYS */;
INSERT INTO `element2_pemantauan_tindak_lanjut` VALUES (1,'Pelaksanaan Pemantauan Tindak Lanjut Rekomendasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Evaluasi Efektivitas Tindak Lanjut Rekomendasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Konfirmasi kepada Manajemen Klien dan/atau Entitas Mitra','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element2_pemantauan_tindak_lanjut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pemantauan_tindak_lanjut_edit_logs`
--

DROP TABLE IF EXISTS `element2_pemantauan_tindak_lanjut_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pemantauan_tindak_lanjut_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element2_pemantauan_tindak_lanjut_edit_logs_row_id_index` (`row_id`),
  KEY `element2_pemantauan_tindak_lanjut_edit_logs_username_index` (`username`),
  KEY `element2_pemantauan_tindak_lanjut_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pemantauan_tindak_lanjut_edit_logs`
--

LOCK TABLES `element2_pemantauan_tindak_lanjut_edit_logs` WRITE;
/*!40000 ALTER TABLE `element2_pemantauan_tindak_lanjut_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element2_pemantauan_tindak_lanjut_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pengembangan_informasi`
--

DROP TABLE IF EXISTS `element2_pengembangan_informasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pengembangan_informasi` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pengembangan_informasi`
--

LOCK TABLES `element2_pengembangan_informasi` WRITE;
/*!40000 ALTER TABLE `element2_pengembangan_informasi` DISABLE KEYS */;
INSERT INTO `element2_pengembangan_informasi` VALUES (1,'Pelaksanaan Pengembangan Informasi Awal (Pra-Perencanaan)','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Desain Penugasan Pengawasan (DPP)','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element2_pengembangan_informasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pengembangan_informasi_edit_logs`
--

DROP TABLE IF EXISTS `element2_pengembangan_informasi_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pengembangan_informasi_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element2_pengembangan_informasi_edit_logs_row_id_index` (`row_id`),
  KEY `element2_pengembangan_informasi_edit_logs_username_index` (`username`),
  KEY `element2_pengembangan_informasi_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pengembangan_informasi_edit_logs`
--

LOCK TABLES `element2_pengembangan_informasi_edit_logs` WRITE;
/*!40000 ALTER TABLE `element2_pengembangan_informasi_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element2_pengembangan_informasi_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pengendalian_kualitas`
--

DROP TABLE IF EXISTS `element2_pengendalian_kualitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pengendalian_kualitas` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pengendalian_kualitas`
--

LOCK TABLES `element2_pengendalian_kualitas` WRITE;
/*!40000 ALTER TABLE `element2_pengendalian_kualitas` DISABLE KEYS */;
INSERT INTO `element2_pengendalian_kualitas` VALUES (1,'Melaksanakan Reviu Berjenjang pada Setiap Tahapan Penugasan Pengawasan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Melaksanakan Penjaminan Kualitas Internal','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Melaksanakan Telaah Sejawat Ekstern','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element2_pengendalian_kualitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_pengendalian_kualitas_edit_logs`
--

DROP TABLE IF EXISTS `element2_pengendalian_kualitas_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_pengendalian_kualitas_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element2_pengendalian_kualitas_edit_logs_row_id_index` (`row_id`),
  KEY `element2_pengendalian_kualitas_edit_logs_username_index` (`username`),
  KEY `element2_pengendalian_kualitas_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_pengendalian_kualitas_edit_logs`
--

LOCK TABLES `element2_pengendalian_kualitas_edit_logs` WRITE;
/*!40000 ALTER TABLE `element2_pengendalian_kualitas_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element2_pengendalian_kualitas_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_perencanaan_penugasan`
--

DROP TABLE IF EXISTS `element2_perencanaan_penugasan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_perencanaan_penugasan` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_perencanaan_penugasan`
--

LOCK TABLES `element2_perencanaan_penugasan` WRITE;
/*!40000 ALTER TABLE `element2_perencanaan_penugasan` DISABLE KEYS */;
INSERT INTO `element2_perencanaan_penugasan` VALUES (1,'Penyusunan Dokumen Perencanaan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Penyusunan Program Kerja','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element2_perencanaan_penugasan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element2_perencanaan_penugasan_edit_logs`
--

DROP TABLE IF EXISTS `element2_perencanaan_penugasan_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element2_perencanaan_penugasan_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element2_perencanaan_penugasan_edit_logs_row_id_index` (`row_id`),
  KEY `element2_perencanaan_penugasan_edit_logs_username_index` (`username`),
  KEY `element2_perencanaan_penugasan_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element2_perencanaan_penugasan_edit_logs`
--

LOCK TABLES `element2_perencanaan_penugasan_edit_logs` WRITE;
/*!40000 ALTER TABLE `element2_perencanaan_penugasan_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element2_perencanaan_penugasan_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element3_pelaporan_manajemen_kld`
--

DROP TABLE IF EXISTS `element3_pelaporan_manajemen_kld`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element3_pelaporan_manajemen_kld` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element3_pelaporan_manajemen_kld`
--

LOCK TABLES `element3_pelaporan_manajemen_kld` WRITE;
/*!40000 ALTER TABLE `element3_pelaporan_manajemen_kld` DISABLE KEYS */;
INSERT INTO `element3_pelaporan_manajemen_kld` VALUES (1,'Kualitas Penyajian Laporan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Kualitas Rekomendasi dan Nilai Tambah Strategis','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Pemanfaatan oleh Manajemen','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element3_pelaporan_manajemen_kld` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element3_pelaporan_manajemen_kld_edit_logs`
--

DROP TABLE IF EXISTS `element3_pelaporan_manajemen_kld_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element3_pelaporan_manajemen_kld_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element3_pelaporan_manajemen_kld_edit_logs_row_id_index` (`row_id`),
  KEY `element3_pelaporan_manajemen_kld_edit_logs_username_index` (`username`),
  KEY `element3_pelaporan_manajemen_kld_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element3_pelaporan_manajemen_kld_edit_logs`
--

LOCK TABLES `element3_pelaporan_manajemen_kld_edit_logs` WRITE;
/*!40000 ALTER TABLE `element3_pelaporan_manajemen_kld_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element3_pelaporan_manajemen_kld_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element3_perencanaan_pengawasan`
--

DROP TABLE IF EXISTS `element3_perencanaan_pengawasan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element3_perencanaan_pengawasan` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element3_perencanaan_pengawasan`
--

LOCK TABLES `element3_perencanaan_pengawasan` WRITE;
/*!40000 ALTER TABLE `element3_perencanaan_pengawasan` DISABLE KEYS */;
INSERT INTO `element3_perencanaan_pengawasan` VALUES (1,'Struktur Perencanaan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Fokus dan Sasaran Pengawasan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Adaptif','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(4,'Keterlibatan Manajemen','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element3_perencanaan_pengawasan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element3_perencanaan_pengawasan_edit_logs`
--

DROP TABLE IF EXISTS `element3_perencanaan_pengawasan_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element3_perencanaan_pengawasan_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element3_perencanaan_pengawasan_edit_logs_row_id_index` (`row_id`),
  KEY `element3_perencanaan_pengawasan_edit_logs_username_index` (`username`),
  KEY `element3_perencanaan_pengawasan_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element3_perencanaan_pengawasan_edit_logs`
--

LOCK TABLES `element3_perencanaan_pengawasan_edit_logs` WRITE;
/*!40000 ALTER TABLE `element3_perencanaan_pengawasan_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element3_perencanaan_pengawasan_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_dukungan_tik`
--

DROP TABLE IF EXISTS `element4_dukungan_tik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_dukungan_tik` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_dukungan_tik`
--

LOCK TABLES `element4_dukungan_tik` WRITE;
/*!40000 ALTER TABLE `element4_dukungan_tik` DISABLE KEYS */;
INSERT INTO `element4_dukungan_tik` VALUES (1,'Integrasi TI untuk Pengawasan Intern','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Pelatihan Pengguna','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Pengembangan dan Pengadaan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(4,'Pemanfaatan TI untuk Fungsi Manajerial Pengawasan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element4_dukungan_tik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_dukungan_tik_edit_logs`
--

DROP TABLE IF EXISTS `element4_dukungan_tik_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_dukungan_tik_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element4_dukungan_tik_edit_logs_row_id_index` (`row_id`),
  KEY `element4_dukungan_tik_edit_logs_username_index` (`username`),
  KEY `element4_dukungan_tik_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_dukungan_tik_edit_logs`
--

LOCK TABLES `element4_dukungan_tik_edit_logs` WRITE;
/*!40000 ALTER TABLE `element4_dukungan_tik_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element4_dukungan_tik_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_manajemen_kinerja`
--

DROP TABLE IF EXISTS `element4_manajemen_kinerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_manajemen_kinerja` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_manajemen_kinerja`
--

LOCK TABLES `element4_manajemen_kinerja` WRITE;
/*!40000 ALTER TABLE `element4_manajemen_kinerja` DISABLE KEYS */;
INSERT INTO `element4_manajemen_kinerja` VALUES (1,'Perencanaan Kinerja','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Pengorganisasian Kinerja','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Pengendalian Kinerja','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element4_manajemen_kinerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_manajemen_kinerja_edit_logs`
--

DROP TABLE IF EXISTS `element4_manajemen_kinerja_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_manajemen_kinerja_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element4_manajemen_kinerja_edit_logs_row_id_index` (`row_id`),
  KEY `element4_manajemen_kinerja_edit_logs_username_index` (`username`),
  KEY `element4_manajemen_kinerja_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_manajemen_kinerja_edit_logs`
--

LOCK TABLES `element4_manajemen_kinerja_edit_logs` WRITE;
/*!40000 ALTER TABLE `element4_manajemen_kinerja_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element4_manajemen_kinerja_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_mekanisme_pendanaan`
--

DROP TABLE IF EXISTS `element4_mekanisme_pendanaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_mekanisme_pendanaan` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_mekanisme_pendanaan`
--

LOCK TABLES `element4_mekanisme_pendanaan` WRITE;
/*!40000 ALTER TABLE `element4_mekanisme_pendanaan` DISABLE KEYS */;
INSERT INTO `element4_mekanisme_pendanaan` VALUES (1,'Perencanaan dan Kecukupan Anggaran','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Penggunaan dan Fleksibilitas Anggaran','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element4_mekanisme_pendanaan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_mekanisme_pendanaan_edit_logs`
--

DROP TABLE IF EXISTS `element4_mekanisme_pendanaan_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_mekanisme_pendanaan_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element4_mekanisme_pendanaan_edit_logs_row_id_index` (`row_id`),
  KEY `element4_mekanisme_pendanaan_edit_logs_username_index` (`username`),
  KEY `element4_mekanisme_pendanaan_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_mekanisme_pendanaan_edit_logs`
--

LOCK TABLES `element4_mekanisme_pendanaan_edit_logs` WRITE;
/*!40000 ALTER TABLE `element4_mekanisme_pendanaan_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element4_mekanisme_pendanaan_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_pengembangan_sdm_profesional_apip`
--

DROP TABLE IF EXISTS `element4_pengembangan_sdm_profesional_apip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_pengembangan_sdm_profesional_apip` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_pengembangan_sdm_profesional_apip`
--

LOCK TABLES `element4_pengembangan_sdm_profesional_apip` WRITE;
/*!40000 ALTER TABLE `element4_pengembangan_sdm_profesional_apip` DISABLE KEYS */;
INSERT INTO `element4_pengembangan_sdm_profesional_apip` VALUES (1,'Rencana Pengembangan Kompetensi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Pelaksanaan Pengembangan Kompetensi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element4_pengembangan_sdm_profesional_apip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_pengembangan_sdm_profesional_apip_edit_logs`
--

DROP TABLE IF EXISTS `element4_pengembangan_sdm_profesional_apip_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_pengembangan_sdm_profesional_apip_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `e4_psdpa_el_row_idx` (`row_id`),
  KEY `e4_psdpa_el_user_idx` (`username`),
  KEY `e4_psdpa_el_created_idx` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_pengembangan_sdm_profesional_apip_edit_logs`
--

LOCK TABLES `element4_pengembangan_sdm_profesional_apip_edit_logs` WRITE;
/*!40000 ALTER TABLE `element4_pengembangan_sdm_profesional_apip_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element4_pengembangan_sdm_profesional_apip_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_perencanaan_sdm_apip`
--

DROP TABLE IF EXISTS `element4_perencanaan_sdm_apip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_perencanaan_sdm_apip` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_perencanaan_sdm_apip`
--

LOCK TABLES `element4_perencanaan_sdm_apip` WRITE;
/*!40000 ALTER TABLE `element4_perencanaan_sdm_apip` DISABLE KEYS */;
INSERT INTO `element4_perencanaan_sdm_apip` VALUES (1,'Perencanaan Kebutuhan SDM','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Rekrutmen dan Distribusi SDM','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element4_perencanaan_sdm_apip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element4_perencanaan_sdm_apip_edit_logs`
--

DROP TABLE IF EXISTS `element4_perencanaan_sdm_apip_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element4_perencanaan_sdm_apip_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element4_perencanaan_sdm_apip_edit_logs_row_id_index` (`row_id`),
  KEY `element4_perencanaan_sdm_apip_edit_logs_username_index` (`username`),
  KEY `element4_perencanaan_sdm_apip_edit_logs_created_at_index` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element4_perencanaan_sdm_apip_edit_logs`
--

LOCK TABLES `element4_perencanaan_sdm_apip_edit_logs` WRITE;
/*!40000 ALTER TABLE `element4_perencanaan_sdm_apip_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element4_perencanaan_sdm_apip_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_akses_informasi_sumberdaya`
--

DROP TABLE IF EXISTS `element5_akses_informasi_sumberdaya`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_akses_informasi_sumberdaya` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_akses_informasi_sumberdaya`
--

LOCK TABLES `element5_akses_informasi_sumberdaya` WRITE;
/*!40000 ALTER TABLE `element5_akses_informasi_sumberdaya` DISABLE KEYS */;
INSERT INTO `element5_akses_informasi_sumberdaya` VALUES (1,'Akses Informasi dan Dukungan Pimpinan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Nilai Tambah terhadap Pengawasan Intern','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element5_akses_informasi_sumberdaya` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_akses_informasi_sumberdaya_edit_logs`
--

DROP TABLE IF EXISTS `element5_akses_informasi_sumberdaya_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_akses_informasi_sumberdaya_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `e5_ais_logs_row_id_idx` (`row_id`),
  KEY `e5_ais_logs_username_idx` (`username`),
  KEY `e5_ais_logs_created_at_idx` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_akses_informasi_sumberdaya_edit_logs`
--

LOCK TABLES `element5_akses_informasi_sumberdaya_edit_logs` WRITE;
/*!40000 ALTER TABLE `element5_akses_informasi_sumberdaya_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element5_akses_informasi_sumberdaya_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_hubungan_apip_manajemen`
--

DROP TABLE IF EXISTS `element5_hubungan_apip_manajemen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_hubungan_apip_manajemen` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_hubungan_apip_manajemen`
--

LOCK TABLES `element5_hubungan_apip_manajemen` WRITE;
/*!40000 ALTER TABLE `element5_hubungan_apip_manajemen` DISABLE KEYS */;
INSERT INTO `element5_hubungan_apip_manajemen` VALUES (1,'Pemantauan dan Pemberian Arahan atas Peningkatan Kapabilitas APIP','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Kualitas Komunikasi Internal','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(3,'Kualitas Komunikasi APIP dengan Manajemen','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element5_hubungan_apip_manajemen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_hubungan_apip_manajemen_edit_logs`
--

DROP TABLE IF EXISTS `element5_hubungan_apip_manajemen_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_hubungan_apip_manajemen_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `e5_ham_logs_row_id_idx` (`row_id`),
  KEY `e5_ham_logs_username_idx` (`username`),
  KEY `e5_ham_logs_created_at_idx` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_hubungan_apip_manajemen_edit_logs`
--

LOCK TABLES `element5_hubungan_apip_manajemen_edit_logs` WRITE;
/*!40000 ALTER TABLE `element5_hubungan_apip_manajemen_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element5_hubungan_apip_manajemen_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_koordinasi_pengawasan`
--

DROP TABLE IF EXISTS `element5_koordinasi_pengawasan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_koordinasi_pengawasan` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_koordinasi_pengawasan`
--

LOCK TABLES `element5_koordinasi_pengawasan` WRITE;
/*!40000 ALTER TABLE `element5_koordinasi_pengawasan` DISABLE KEYS */;
INSERT INTO `element5_koordinasi_pengawasan` VALUES (1,'Intensitas Koordinasi dan Pertukaran Data Informasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Sinergi dalam Perencanaan','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element5_koordinasi_pengawasan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_koordinasi_pengawasan_edit_logs`
--

DROP TABLE IF EXISTS `element5_koordinasi_pengawasan_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_koordinasi_pengawasan_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `e5_kp_logs_row_id_idx` (`row_id`),
  KEY `e5_kp_logs_username_idx` (`username`),
  KEY `e5_kp_logs_created_at_idx` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_koordinasi_pengawasan_edit_logs`
--

LOCK TABLES `element5_koordinasi_pengawasan_edit_logs` WRITE;
/*!40000 ALTER TABLE `element5_koordinasi_pengawasan_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element5_koordinasi_pengawasan_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_pembangunan_budaya_integritas`
--

DROP TABLE IF EXISTS `element5_pembangunan_budaya_integritas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_pembangunan_budaya_integritas` (
  `id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '-',
  `skor` decimal(10,2) DEFAULT NULL,
  `analisis_bukti` text COLLATE utf8mb4_unicode_ci,
  `analisis_nilai` text COLLATE utf8mb4_unicode_ci,
  `grad_l1_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l2_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l3_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l4_catatan` text COLLATE utf8mb4_unicode_ci,
  `grad_l5_catatan` text COLLATE utf8mb4_unicode_ci,
  `evidence` text COLLATE utf8mb4_unicode_ci,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `dokumen_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doc_file_ids` longtext COLLATE utf8mb4_unicode_ci,
  `level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  `verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_verified` tinyint(1) NOT NULL DEFAULT '0',
  `qa_verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qa_verified_at` timestamp NULL DEFAULT NULL,
  `qa_verify_note` text COLLATE utf8mb4_unicode_ci,
  `qa_follow_up_recommendation` text COLLATE utf8mb4_unicode_ci,
  `qa_level_validation_state` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_pembangunan_budaya_integritas`
--

LOCK TABLES `element5_pembangunan_budaya_integritas` WRITE;
/*!40000 ALTER TABLE `element5_pembangunan_budaya_integritas` DISABLE KEYS */;
INSERT INTO `element5_pembangunan_budaya_integritas` VALUES (1,'Internalisasi Nilai Integritas dan Penerapan Etika Organisasi','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL),(2,'Mekanisme Pengaduan, Pemantauan, dan Tindak Lanjut Pelanggaran Integritas','-',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `element5_pembangunan_budaya_integritas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element5_pembangunan_budaya_integritas_edit_logs`
--

DROP TABLE IF EXISTS `element5_pembangunan_budaya_integritas_edit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element5_pembangunan_budaya_integritas_edit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `row_id` int unsigned NOT NULL,
  `pernyataan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'save',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `e5_pbi_logs_row_id_idx` (`row_id`),
  KEY `e5_pbi_logs_username_idx` (`username`),
  KEY `e5_pbi_logs_created_at_idx` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element5_pembangunan_budaya_integritas_edit_logs`
--

LOCK TABLES `element5_pembangunan_budaya_integritas_edit_logs` WRITE;
/*!40000 ALTER TABLE `element5_pembangunan_budaya_integritas_edit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `element5_pembangunan_budaya_integritas_edit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_assessments`
--

DROP TABLE IF EXISTS `element_assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_assessments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `subtopic_slug` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtopic_title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `scores` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `weighted_total` decimal(4,2) NOT NULL,
  `level` tinyint unsigned NOT NULL,
  `predikat` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `submitted_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `verified_by` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `element_assessments_subtopic_slug_created_at_index` (`subtopic_slug`,`created_at`),
  CONSTRAINT `element_assessments_chk_1` CHECK (json_valid(`scores`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_assessments`
--

LOCK TABLES `element_assessments` WRITE;
/*!40000 ALTER TABLE `element_assessments` DISABLE KEYS */;
/*!40000 ALTER TABLE `element_assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_preference_legal_bases`
--

DROP TABLE IF EXISTS `element_preference_legal_bases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_preference_legal_bases` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `action_type` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mime_type` varchar(160) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` bigint unsigned NOT NULL DEFAULT '0',
  `note` text COLLATE utf8mb4_unicode_ci,
  `uploaded_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `storage_driver` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'public',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pref_legal_action_created_idx` (`action_type`,`created_at`),
  KEY `pref_legal_uploaded_by_idx` (`uploaded_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_preference_legal_bases`
--

LOCK TABLES `element_preference_legal_bases` WRITE;
/*!40000 ALTER TABLE `element_preference_legal_bases` DISABLE KEYS */;
/*!40000 ALTER TABLE `element_preference_legal_bases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_preferences`
--

DROP TABLE IF EXISTS `element_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_preferences` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `payload` json NOT NULL,
  `updated_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_preferences`
--

LOCK TABLES `element_preferences` WRITE;
/*!40000 ALTER TABLE `element_preferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `element_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_progress_archives`
--

DROP TABLE IF EXISTS `element_progress_archives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_progress_archives` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `budget_year` smallint unsigned NOT NULL,
  `snapshot` json NOT NULL,
  `total_rows` int unsigned NOT NULL DEFAULT '0',
  `archived_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loaded_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_loaded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `element_progress_archives_budget_year_unique` (`budget_year`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_progress_archives`
--

LOCK TABLES `element_progress_archives` WRITE;
/*!40000 ALTER TABLE `element_progress_archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `element_progress_archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_team_assignments`
--

DROP TABLE IF EXISTS `element_team_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_team_assignments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `element_slug` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `coordinator_username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `member_usernames` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `element_team_assignments_element_slug_unique` (`element_slug`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_team_assignments`
--

LOCK TABLES `element_team_assignments` WRITE;
/*!40000 ALTER TABLE `element_team_assignments` DISABLE KEYS */;
INSERT INTO `element_team_assignments` VALUES (5,'element1','dela','[\"bayu\", \"irfan\", \"jose\"]','2026-03-01 21:34:27','2026-03-27 02:30:42'),(6,'element2',NULL,'[\"randy\"]','2026-03-02 01:38:15','2026-03-03 18:30:38');
/*!40000 ALTER TABLE `element_team_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `general_information_profiles`
--

DROP TABLE IF EXISTS `general_information_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `general_information_profiles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `dasar_hukum_penilaian` text COLLATE utf8mb4_unicode_ci,
  `pemerintah_daerah` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_skpd` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bidang` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kepala_pemerintah_daerah` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `undang_undang_pendirian` text COLLATE utf8mb4_unicode_ci,
  `visi` text COLLATE utf8mb4_unicode_ci,
  `misi` text COLLATE utf8mb4_unicode_ci,
  `inspektur` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_kantor` text COLLATE utf8mb4_unicode_ci,
  `jumlah_kantor_wilayah` text COLLATE utf8mb4_unicode_ci,
  `kontak` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `website` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `general_information_profiles`
--

LOCK TABLES `general_information_profiles` WRITE;
/*!40000 ALTER TABLE `general_information_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `general_information_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_reads`
--

DROP TABLE IF EXISTS `notification_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_reads` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `notification_id` bigint unsigned NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `read_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `notification_reads_notification_user_unique` (`notification_id`,`username`),
  KEY `notification_reads_username_read_at_index` (`username`,`read_at`),
  KEY `notification_reads_notification_read_at_index` (`notification_id`,`read_at`)
) ENGINE=InnoDB AUTO_INCREMENT=1135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_reads`
--

LOCK TABLES `notification_reads` WRITE;
/*!40000 ALTER TABLE `notification_reads` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `subtopic_title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `statement` text COLLATE utf8mb4_general_ci,
  `row_id` int DEFAULT NULL,
  `element_slug` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `subtopic_slug` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `coordinator_name` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `coordinator_username` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `notifications_element_slug_index` (`element_slug`),
  KEY `notifications_subtopic_slug_index` (`subtopic_slug`),
  KEY `notifications_element_created_at_index` (`element_slug`,`created_at`),
  KEY `notifications_subtopic_created_at_index` (`subtopic_slug`,`created_at`),
  KEY `notifications_actor_created_at_index` (`coordinator_username`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'latsar'
--

--
-- Dumping routines for database 'latsar'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-01 14:28:08
